@import***REMOVED***"tailwindcss";

:root***REMOVED***{
***REMOVED******REMOVED***--background:***REMOVED***#ffffff;
***REMOVED******REMOVED***--foreground:***REMOVED***#171717;
}

@theme***REMOVED***inline***REMOVED***{
***REMOVED******REMOVED***--color-background:***REMOVED***var(--background);
***REMOVED******REMOVED***--color-foreground:***REMOVED***var(--foreground);
***REMOVED******REMOVED***--font-sans:***REMOVED***var(--font-geist-sans);
***REMOVED******REMOVED***--font-mono:***REMOVED***var(--font-geist-mono);
}

@media***REMOVED***(prefers-color-scheme:***REMOVED***dark)***REMOVED***{
***REMOVED******REMOVED***:root***REMOVED***{
***REMOVED******REMOVED******REMOVED******REMOVED***--background:***REMOVED***#0a0a0a;
***REMOVED******REMOVED******REMOVED******REMOVED***--foreground:***REMOVED***#ededed;
***REMOVED******REMOVED***}
}

body***REMOVED***{
***REMOVED******REMOVED***background:***REMOVED***var(--background);
***REMOVED******REMOVED***color:***REMOVED***var(--foreground);
***REMOVED******REMOVED***font-family:***REMOVED***Arial,***REMOVED***Helvetica,***REMOVED***sans-serif;
}
